body {
  background: #1B1E22;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1133px;
  margin: auto;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 28px;
}
header .flex__header {
  display: flex;
  justify-content: space-between;
}
header .flex__header .flex__header-left {
  display: flex;
  align-items: center;
  vertical-align: middle;
}
header .flex__header .flex__header-left .flex__header-logo {
  transform: translateY(-8px);
  margin-right: 26px;
}
header .flex__header .flex__header-left .flex__header-ling ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}
header .flex__header .flex__header-right {
  display: flex;
  align-items: baseline;
}
header .flex__header .flex__header-right .flex__header-nav ul {
  display: flex;
}
header .flex__header .flex__header-button {
  display: flex;
}
header .flex__header .flex__header-button .header-button {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat" sans-serif;
  font-size: 18px;
  font-weight: 400;
  border: 1px #FFB800 solid;
  border-radius: 10px 10px 10px 10px;
  padding: 15px 34.5px;
}

.flex__header-ling ul li a {
  color: #FFF;
  font-family: "Montserrat" sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin-right: 21px;
}

.flex__header-ling ul li:last-child {
  margin-right: 0px;
}

.flex__header-ling .active {
  color: rgba(196, 196, 196, 0.5);
}

.flex__header-nav ul li {
  margin-right: 40px;
}

.flex__header-nav ul li:last-child {
  margin-right: 35px;
}

.flex__header-nav ul li a {
  color: #FFF;
  font-family: "Montserrat" sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.header-button:hover {
  background-color: #FFB800;
  color: black;
  transition: 0.3s;
}

.greeting {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 2.91%, rgba(27, 30, 34, 0.4) 49.31%, #1B1E22 93.77%), url(../images/main_bg.jpg);
  padding-top: 169px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.greeting__hero {
  display: inline-block;
}

.greeting_tour-search {
  transform: translatex(121px);
  display: inline-block;
  border-radius: 10px;
  background: rgba(51, 51, 51, 0.25);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  padding: 51px 70px 55px;
  max-width: 500px;
}

.greeting_tour-search h2 {
  color: #FFF;
  font-family: "Montserrat" sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 22.98px;
}

.greeting_tour-search input {
  font-family: "Montserrat" sans-serif;
  color: #FFF;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  padding-left: 13px;
  padding-top: 9.4px;
  padding-bottom: 11.56px;
}

.greeting__search {
  border-radius: 4px;
  border: 1px solid #FFF;
  display: inline-block;
  margin-bottom: 21.4px;
}

.greeting__search input {
  width: 320px;
}

.greeting__search input:focus {
  outline: none;
  border: none;
}

.greeting__search input::-moz-placeholder {
  font-family: "Montserrat" sans-serif;
  color: #FFF;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.greeting__search input::placeholder {
  font-family: "Montserrat" sans-serif;
  color: #FFF;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.greeting__search input:focus::-moz-placeholder {
  opacity: 0;
}

.greeting__search input:focus::placeholder {
  opacity: 0;
}

.greeting__search-button {
  width: 33px;
  height: 33px;
  background: url(../images/magnifier-n.svg) no-repeat center;
  border: none;
}

.greeting__date-time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21.4px;
}

.greeting__date-time input {
  width: 168px;
  border-radius: 4px;
  border: 1px solid #FFF;
}

.greeting__date-time input::-moz-placeholder {
  font-family: "Montserrat" sans-serif;
  color: #FFF;
}

.greeting__date-time input::placeholder {
  font-family: "Montserrat" sans-serif;
  color: #FFF;
}

.greeting__date-time input:focus::-moz-placeholder {
  opacity: 0;
}

.greeting__date-time input:focus::placeholder {
  opacity: 0;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 97%;
  color: #FFF;
  font-family: "Montserrat" sans-serif;
  border-radius: 4px;
  border: 1px solid #FFF;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  padding-left: 13px;
  padding-top: 8.46px;
  padding-bottom: 12.5px;
  width: 360px;
}

.greeting__submit-btn {
  background-color: #FFB800;
  display: block;
  width: 100%;
  color: #333;
  font-family: "Montserrat" sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 21.97px;
  padding-top: 5.31px;
  padding-bottom: 8.14px;
  padding-left: 145px;
  padding-right: 145px;
  border-radius: 4px 4px 4px 4px;
}

.greeting__submit-btn:hover {
  background-color: #FFF;
  color: #333;
  transition: 0.3s;
}

.greeting__hero h1 {
  color: #FFF;
  font-family: "Montserrat" sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 58px;
  width: 582px;
  margin-bottom: 26px;
}

.greeting__hero p {
  color: #FFF;
  font-family: "Montserrat" sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
  width: 474px;
}

.greeting__why-us h2 {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat" sans-serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  margin-bottom: 44px;
  margin-top: 205px;
}

.greeting__cards-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.greeting__card {
  text-align: center;
}

.greeting__descr p {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat" sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 17px;
}

.greeting__descr-width-one {
  width: 246.304px;
}

.greeting__descr-width-two {
  width: 178.571px;
}

.greeting__descr-width-three {
  width: 247.331px;
}

.greeting__descr-width-four {
  width: 246.304px;
}

.actual__title {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat" sans-serif;
  font-size: 34px;
  font-weight: 500;
}

.actual__card {
  width: 361px;
  background-color: #23282F;
  transition: 0.7s;
  border-radius: 4px 4px 0px 0px;
  position: relative;
}

.actual__card:hover {
  background-color: #FFF;
  transform: scale(1.05);
}

.actual__card:hover .actual__descr h3,
.actual__card:hover .actual__descr p {
  color: #333;
}

.actual__card:hover .actual__descr a {
  color: rgba(0, 0, 0, 0.5);
}

.actual__card:hover .actual__price-date {
  transform: translateY(14px);
}

.actual__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 24.07px;
  margin-top: 45.13px;
}

.actual__img {
  position: relative;
}

.actual__img img {
  border-radius: 4px 4px 0px 0px;
  max-width: 100%;
  background-color: #23282F;
}

.actual__price-date {
  position: absolute;
  left: 0;
  bottom: 25px;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  transition: 0.7s;
}

.actual__card:hover .actual__price span {
  font-size: 24px;
}

.actual__price {
  background: #FFB800;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-left: 8.5px;
  padding-top: 9.5px;
  padding-bottom: 8.5px;
}

.actual__price-date span {
  font-size: 20px;
  font-weight: 700;
  padding-left: 3.5px;
  padding-right: 2.5px;
}

.actual__price span {
  font: size 20px;
  transform: 0.7s;
}

.actual__date {
  border-radius: 0px 6px 6px 0px;
  background: rgba(30, 29, 29, 0.75);
  color: #FFF;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5.5px 0;
  width: 170.754px;
}

.actual__descr {
  padding: 16.03px 21px 24px;
}

.actual__descr h3 {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16.03px;
}

.actual__descr p {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 55px;
}

.actual__descr a {
  color: #FFF;
  font-size: 13px;
  font-weight: 500;
  opacity: 0.5;
  position: absolute;
  left: 20.09px;
  bottom: 14.04px;
}

.flex-button {
  display: flex;
  justify-content: center;
}

.button {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  border: 1px #FFB800 solid;
  border-radius: 3px 3px 3px 3px;
  padding: 16.5px 37.5px;
  margin-top: 49.14px;
  margin-bottom: 72px;
}

.button:hover {
  background-color: #FFB800;
  color: black;
  transition: 0.3s;
}

.number-result {
  padding-top: 59px;
  padding-bottom: 68px;
  background: linear-gradient(to top, rgba(27, 30, 34, 0.78), rgba(27, 30, 34, 0.78)), url(../images/number-bg\ .jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.number-result .number-result__cards-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.number-result .number-result__cards-wrapper .number-result__card {
  width: 264px;
  text-align: center;
}
.number-result .number-result__cards-wrapper .number-result__number {
  color: #FFB800;
  text-align: center;
  font-family: "Montserrat" sans-serif;
  font-size: 78px;
  font-weight: 500;
  line-height: 58px;
  margin-bottom: 21px;
}
.number-result .number-result__cards-wrapper .number-result__content {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat" sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.our-blog {
  padding: 62px 0;
}
.our-blog .blog-title {
  color: #FFF;
  font-family: "Montserrat" sans-serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  text-align: center;
  margin-bottom: 44px;
}
.our-blog .our-blog__cards-wrapper {
  display: flex;
  justify-content: space-between;
}
.our-blog .our-blog__cards-wrapper .our-blog__card-img-one {
  width: 552px;
  height: 480px;
  border-radius: 4px;
  background: linear-gradient(rgba(31, 31, 31, 0.65), rgba(31, 31, 31, 0.65)), url(../images/blog-img-one.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
}
.our-blog .our-blog__cards-wrapper .our-blog__card-img-one .our-blog__img-text {
  position: absolute;
}

.our-blog__img-text .our-blog__p {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat" sans-serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  margin-top: 51px;
  margin-left: 16px;
}

.our-blog__img-text p {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat" sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 28px;
}

.our-blog__card {
  width: 264px;
  border-radius: 4px;
  background: #23282F;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}

.our-blog__descr {
  padding: 14px 20px 21px;
}

.our-blog__descr h3 {
  color: #FFF;
  font-family: "Montserrat" sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.blog__descr-p {
  color: #FFF;
  font-family: "Montserrat" sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 14px;
}

.our-blog__result {
  position: absolute;
  display: flex;
  justify-content: space-between;
  right: 20px;
  left: 20px;
  bottom: 21px;
}

.our-blog__result-reviews {
  display: flex;
  justify-content: space-between;
  width: 42px;
}

.our-blog__result-likes {
  display: flex;
  justify-content: space-between;
  width: 29px;
}

.our-blog__result-date {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Montserrat" sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.our-blog__result-reviews-number p {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Montserrat" sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.our-blog__result-likes-number p {
  color: #FFF;
  font-family: "Montserrat" sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.our-blog__result-reviews-icon {
  transform: translateY(-6px);
}

.our-blog__result-likes-icon {
  transform: translateY(-6px);
}

.blog__button {
  display: flex;
  justify-content: center;
}

.our-blog__button {
  border-radius: 4px;
  background: #FFB800;
  margin-top: 49px;
  margin-bottom: 62px;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding: 17px 38px 15px;
}

.our-blog__button:hover {
  background-color: #FFF;
  color: #333;
  transition: 0.3s;
}

.reviews-title {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat" sans-serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
}

.reviews__blog {
  position: relative;
}

.reviews__blog-img-hidden {
  position: absolute;
  right: 534px;
  top: 114px;
  z-index: -1;
}

.reviews__blog-img-round {
  display: block;
  margin: auto;
  margin-top: 47px;
  margin-bottom: 30px;
}

.reviews__blog-text {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat" sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  width: 924px;
  margin: auto;
}

.reviews__blog-name {
  color: #FFB800;
  font-family: "Montserrat" sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 32px;
}

.reviews__blog-switch {
  display: flex;
  justify-content: center;
}

.reviews__blog-switch button {
  width: 8px;
  height: 8px;
  background-color: #FFF;
  opacity: 0.5;
  border: none;
  border-radius: 50%;
  margin-right: 12px;
  margin-bottom: 58.3px;
}

.reviews__blog-switch button:last-child {
  margin-right: 0;
  background-color: #FFF;
  opacity: 1;
}

footer {
  padding-bottom: 31px;
}

.footer__links-phone-numbers {
  display: flex;
  justify-content: flex-start;
  gap: 130px;
}
.footer__links-phone-numbers .footer__column-one {
  display: block;
}
.footer__links-phone-numbers .footer__column-one .footer__line-one-column-one {
  display: flex;
  margin-bottom: 16px;
}
.footer__links-phone-numbers .footer__column-one .footer__line-one-column-one .footer__name-mail p {
  width: 86px;
  color: #FFB800;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.footer__links-phone-numbers .footer__column-one .footer__line-one-column-one .footer__mail a {
  color: #FFF;
  font-family: "Montserrat" sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.footer__links-phone-numbers .footer__column-one .footer__line-two-column-one {
  display: flex;
}
.footer__links-phone-numbers .footer__column-one .footer__line-two-column-one .footer__name-adress p {
  width: 86px;
  color: #FFB800;
  font-family: "Montserrat" sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.footer__links-phone-numbers .footer__column-one .footer__line-two-column-one .footer__adress p {
  color: #FFF;
  font-family: "Montserrat" sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.footer__links-phone-numbers .footer__column-two {
  display: block;
  width: 248px;
}
.footer__links-phone-numbers .footer__column-two .footer__line-one-column-two {
  display: flex;
  margin-bottom: 16px;
}
.footer__links-phone-numbers .footer__column-two .footer__line-one-column-two .footer__name-phone p {
  width: 86px;
  color: #FFB800;
  font-family: "Montserrat" sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.footer__links-phone-numbers .footer__column-two .footer__line-one-column-two .footer__phone a {
  color: #FFF;
  font-family: "Montserrat" sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.footer__links-phone-numbers .footer__column-two .footer__line-two-column-two {
  display: flex;
  transform: translateX(86px);
}
.footer__links-phone-numbers .footer__column-two .footer__line-two-column-two .footer__phone-two a {
  color: #FFF;
  font-family: "Montserrat" sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.footer__links-phone-numbers .footer__column-three {
  display: block;
}
.footer__links-phone-numbers .footer__column-three .footer__line-one-column-three {
  display: flex;
  margin-bottom: 16px;
}
.footer__links-phone-numbers .footer__column-three .footer__line-one-column-three .footer__name-network p {
  color: #FFB800;
  font-family: "Montserrat" sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.footer__links-phone-numbers .footer__column-three .footer__line-two-column-three .footer__network {
  display: flex;
  align-items: center;
  gap: 26.5px;
}/*# sourceMappingURL=style.css.map */